html, body {
    background:white;
    padding: 5px;
    margin: 0;
    color: black;
    font-family: verdana;
}

#main_options {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#logout_btn {
    height: 50px;
}

#chat {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    height: calc(100vh - 230px) !important;
}

#listOfUsersDiv {
    float: left;
    width: 25%;
    overflow: scroll;
    overflow-x:hidden;
}

#listOfChatsDiv {
    float: left;
    width: 25%;
    overflow: scroll;
    overflow-x:hidden;
    display: none;
}

ul {
    list-style-type: none;
}

li.right {
    text-align: right;
    padding-right: 30px;
}

li.left {
    text-align: left;
}

li.online::before{
    content: "\2022";
    display: inline-block; 
    width: 1em;
    margin-left: -1em
}

#listOfMessagesDiv {
    float: right;
    width: 75%;
    overflow: scroll;
    overflow-x:hidden;
    height: calc(100vh - 240px);
}

#statusDiv {
    position: fixed;
    bottom: 50px;
}

#sendDiv {
    position: fixed;
    bottom: 10px;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 50px;
    width: calc(100vw - 25vw - 100px);
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 16px;
    font-family: Lato, sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: #333;
}

#login_div, #register_div * {
    margin: 2px;
}