<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>Chat application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1>Chat</h1>

        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-primary">Odhlásit se</button>
        </form>

        <div id="chat">
            <div id="listOfUsersDiv">
                <ul id="listOfUsers">
                    {% for user in allUsers %}
                        <li>
                            <label>{{user.username}}</label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="listOfMessages">

            </div>
        </div>
        
    </body>
</html>