<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>PWA Chat App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div id="main_options">
            <h1>Chat</h1>
            <h2>Přihlášený uživatel: {{currentUser}}</h2>
            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-primary">Odhlásit se</button>
            </form>
        </div>

        <div id="chat">
            <div id="listOfUsersDiv">
                <ul id="listOfUsers">
                    {% for user in allUsers %}
                        <li>
                            <a href="/index/chat/{{user.id}}">{{user.username}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="listOfMessagesDiv" >
                {% if messagesDivAttr %}
                    <ul id="listOfMessages">
                        {% for message in messages %}
                            {% if message.sender == currentUser %}
                                <li class="right">
                                    <label>{{message.sender}}: {{message.message}}</label>
                                </li>
                            {% else %}
                                <li class="left">
                                    <label>{{message.sender}}: {{message.message}}</label>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="statusDiv"></div>
                    <div id="sendDiv">
                        <form id="send_form" action="">
                            <input id="message-input" type="text" placeholder="Sem napiš zprávu" data-currentUser={{currentUser}} data-currentUserId={{currentUserId}} required />
                            <button id="send_btn" class="btn btn-success">Odeslat</button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
        
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index-WS.js"></script>
    </body>
</html>