<!DOCTYPE html>
<html lang="cs"> 
    <head>
        <meta charset="utf-8">
        <title>New account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <h1>Create new account</h1>
        
        {% if message %}
            {{message}}
        {% endif %}

        <form class="form-horizontal" action="/register" method="POST">
            <div class="form-group form-inline">
                <label for="name" class="col-sm-1 control-label">Name</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Name">
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="email" class="col-sm-1 control-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="email" name="email" required placeholder="Email">
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="password" class="col-sm-1 control-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Sign up</button>           
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="/login" class="btn btn-primary" role="button">Login</a>
                </div>
            </div>
        </form>     
    </body>
</html>